header, main {

    display: block;

}

body {

    overflow-y: auto;
    background-color: aliceblue;

}

#wrap {

    width: 100%;
    height: 100px;
    background: darkturquoise url("../images/marlboro.png") no-repeat 3% 50%;
    position: fixed;
    z-index: 10;

}

.title {

    font-size: 40px;
    color: #ffffff;
    padding-top: 15px;
    margin-left: 130px;

}

#user_logout {

    top: 30px;
    right: 50px;
    position: absolute;

}

.menu {

    width: 150px;

}

#menu_title {

    top: 200px;
    right: 623px;
    position: absolute;

}

#show_medicines {

    top: 250px;
    right: 700px;
    position: absolute;

}

#add_medicine {

    top: 300px;
    right: 700px;
    position: absolute;

}

#delete_medicine {

    top: 350px;
    right: 700px;
    position: absolute;

}

#change_medicine {

    top: 400px;
    right: 700px;
    position: absolute;

}

#logout {

    top: 450px;
    right: 700px;
    position: absolute;

}

#combobox1 {

    width: 450px;
    height: 40px;

}

#combobox2 {

    width: 450px;
    height: 40px;

}